body, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: linear-gradient(-45deg, #DFADFD, #341149, #2905D4);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Arima Madurai', cursive;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#container{
    margin: 70px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro{
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    border-radius: 30px;
    width: 50%;
    margin: 20px auto;
    color: black;
}
#photo{
    margin: 20px auto;
    border: solid 2px #341149;
    border-radius: 50%;
    width: 190px;
    height: 210px;
}
p{
    font-size: 26px;
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
#introduction, #skills, #contact, #portfolio{
    border: solid 2px #2905D4;
    color: black;
    height: 20px;
    padding: 10px;
}
a{
    text-decoration: none;
    height: 44px;
}
.menu-links:hover{
    font-size: 140%;
}
#main{
    margin-top: 40px;
}
article p{
    font-size: 17px;
    width: 90%;
    margin: auto;
}
img.banner-image{
    width: 90%;
    margin: 20px auto;
}
h1, h2, h3, h4, h5{
    text-transform: uppercase;
}
.major{
    color: whitesmoke;
    background-color: rgba(52, 17, 73, 0.5);
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.overlay {
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 50%;
    height: auto;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #2905D4;
    display: block;
    transition: 0.3s;
}
span:hover{
    border-bottom: solid 2px #2905D4;
}
.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 40px;
    font-weight: bold;
}
body::after{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 400px;
    width: 60%;
    z-index: 10;
}
footer{
    display: flex;
    margin: 20px;
    padding-left: 15px;
    justify-content: space-evenly;
    color: whitesmoke;
}
i.fab{
    color: whitesmoke;
}
.text-icon{
    color: whitesmoke;
    padding-left: 8px;
}