body, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: linear-gradient(-45deg, #341149, peachpuff, #2905D4, #DFADFD);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Arima Madurai', cursive;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#container{
    margin: 7em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro{
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    border-radius: 30px;
    width: 50%;
    margin: 4em auto;
    color: black;
}
#photo{
    margin: 20px auto;
    border: solid 1px rgb(126, 121, 116);
    border-radius: 50%;
    width: 190px;
    height: 190px;
}
.menu-btn{
    width: 150px;
    height: 50px;
    border: 1px solid #DFADFD;
    cursor: pointer;
    border-left: none;
    border-right: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
}
.menu-btn:hover::before {
    width: 0px;
    background: #fff;
}
.menu-btn:hover::after {
    height: 0px;
    background: #fff;
}
p{
    font-size: 26px;
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.menu-btn:hover{
    border-radius: 3em;
    border: 1px solid #DFADFD;
    color: #2905D4;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
ul li:before{
    content: "✓";
    padding-right: 10px;
}
article p{
    font-size: 17px;
    width: 90%;
    margin: 10px auto;
}
img.banner-image{
    width: 100%;
    margin: 20px auto;
}
h1, h2, h3, h4, h5{
    text-transform: uppercase;
}
.major{
    color: whitesmoke;
    background-color: rgba(52, 17, 73, 0.7);
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 30px;
    margin-top: 20px;
    text-align: center;
}
/* OVERLAY */
.overlay {
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 50%;
    height: auto;
    text-align: center;
}
.overlay .cv-link{
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #2905D4;
    display: block;
    transition: 0.3s;
    text-align: center;
}
.projets{
    text-decoration: none;
    font-size: 20px;
    color: #2905D4;
    display: inline;
    transition: 0.3s;
}
span:hover{
    border-bottom: solid 2px #DFADFD;
}
/* ICONS */
article i {
    font-size: 20px;
}
article .fa-html5{
    color: red;
}
article .fa-css3-alt, i.fab.fa-linkedin{
    color: royalblue;
}
article .fa-js{
    color: yellow;
    background-color: black;
}
article .fa-sass{
    color: palevioletred;
}
#article-intro, #article-work, #article-skills{
    text-align: left;
}
.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 45px;
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
}
/* FORM */
form, input, ::placeholder{
    font-family: 'Arima Madurai', cursive;
}
label, input textarea {
    text-align: left;
    display: inline-block;
    width: 90px;
    margin-bottom: 10px;
}
.fields{
    width: 90%;
}
input#email, input#name, input#lastname, textarea{
    width: 240px;
}
input.button{
    display: inline;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    margin-left: 15px;
}
input.primary{
    color: #341149;
    border: solid 1px #341149;
}
input.secondary{
    background-color: #341149;
    color: whitesmoke;
    border: solid 1px #fff;
}
/* FOOTER */
footer{
    display: flex;
    margin: 10px auto;
    padding: 6px;
    justify-content: space-evenly;
    text-align: center;
    color: black;
    background-color: white;
    width: 50%;
    border-radius: 30px;
}
.text-icon{
    color: black;
    padding-left: 8px;
}
/* MEDIA MOBILE*/
@media  screen and (min-width: 320px) and (max-width: 667px) {
    #container {
        margin: 2em 0 0 0;
        display: flex;
        flex-direction: column;
    }
    .intro {
        min-width: 320px;
        width: 350px;
        margin: 1em auto;
    }
    #photo {
        width: 160px;
        height: 160px;
    }
    p {
        font-size: 18px;
        text-align: center;
    }
    #menu {
        flex-direction: column;
        margin-bottom: 8px;
        align-items: center;
    }
    footer {
        margin: 0;
        padding: 0;
        justify-content: space-around;
        background-color: white;
    }
    .overlay-content {
        min-width: 320px;
        margin-bottom: 30px;
    }
    .overlay .closebtn{
        right: 12px;
    }
    .major {
        margin-bottom: 0;
        font-size: 20px;
    }
    article  {
        font-size: 16px;
        text-align: center;
    }
    ul {
        padding: 20px;
        text-align: center;
    }
    .overlay a {
        font-size: 18px;
    }
    form, input {
        padding: 5px;
    }
    textarea {
        width: inherit;
        font-size: 14px;
    }
}
/* MEDIA TABLET */
@media  screen and (min-width: 668px) and (max-width: 1023px) {
    .intro {
        width: 90%;
    }
    .overlay .closebtn {
        right: 35px;
    }
}